.table {
  width: 100%;
  margin-bottom: 7mm;
}

.logo {
  vertical-align: top;
  overflow: hidden;
  float: left;
}
.logo img {
  max-height: 2.5cm;
  width: auto;
}

.amounts {
  text-align: right;
}

.left {
  float: left;
}

.address {
  line-height: 100%;
}

.table-header td {
  padding-top: 4mm;
}

.table-highlight th {
  border-bottom: 1pt solid grey;
}
.table-highlight tr:nth-child(even) {
  background: #eee;
}
.table-highlight tr:nth-child(odd) {
  background: #fff;
}
.table-highlight td, .table-highlight th {
  text-align: right;
}
.table-highlight td {
  padding-top: 1mm;
  padding-bottom: 1mm;
}
.table-highlight td:first-child, .table-highlight th:first-child{
  text-align: left;
  min-width: 50%;
}

.total-row td {
  padding-bottom: inherit;
  font-weight: bold;
}

.table-payments td:last-child {
  text-align: right;
}

.table-footer tr {
  border-top: 1pt solid grey;
}
.table-footer td {
  text-align: center;
  padding-top: 2mm;
  padding-bottom: 2mm;
}
