{{ _('eos-email-subject',
    mapping={
        'device': device,
        'periodStart': periodStart | format_datetime(locale=locale, tzinfo=tz),
        'periodEnd': periodEnd | format_datetime(locale=locale, tzinfo=tz),
    }
  )
}}
