{% extends "base.jinja2" %}
{% import 'macros.jinja2' as macros %}

{% set softwear_logo = True %}

{% block content %}
  {{ macros.greeting(user_greeting) }}
  <p>
    {# We need to add the username in this message, because the email can also be send to the owner, if a user has no email set #}
    {{
      _('email-template-password-change-notification-1',
      mapping={'user_username': user_username})
    }}
  </p>
  <p>
    {{
      _('email-template-password-change-notification-2')
    }}
  </p>
  <p>
    {{ macros.contact('link')|safe }}
  </p>
  {{ macros.regards() }}
{% endblock %}
