{{ parameters['report_name'] }} {{ parameters['filter']['startDate'] | format_datetime(locale=locale, tzinfo=tz) }} - {{ parameters['filter']['endDate'] | format_datetime(locale=locale, tzinfo=tz) }}
